* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {width: 100%;}

.db {
    border: 1px dashed black;
}
/* HEADER  */
header {
    background-color: rgb(57,130,245);
}

.header-content {
    display: flex;
    height: 75px;
    justify-content: space-between;
    color: white;
    padding: 0 40px;
    align-items: center;
}
.header-menu {
    display: none;
    list-style: none;
}

.header-menu a {
    text-decoration: none;
    color: white;
    padding: 30px;
}
.header-menu li {
    line-height: 2.5;
}
.icon-hamburger {
    display: block;
    font-size: 1.5rem;
}
.start-button {
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 40px;
    background-color: #fff;
}

/* UTILITIES SECTION  */

.utilities .col-100 {
    background-color: rgb(189,220,252);
    border-radius: 20px;
}
.utilities h3 {
    color: rgb(57,130,245);
    padding: 10px 0;
}
.utilities p {
    color: rgb(94,109,125);
    font-size: 12px;
    line-height: 2;
    padding: 10px 0;
    font-weight: 600;
    padding: 10px 0;
}
.app-store {
    font-size: 14px;
    font-weight: 500;
    background-color: rgb(57,130,245);
    color: #fff ;
    border-radius: 40px;
    padding: 10px 50px;
    border: none;
    margin-top: 20px;
}
.utilities .phone {
    position: relative;
    top: 33px;
}
.icon-utility {
    color: rgb(57,130,245);
    font-size: 5rem;
}

/* STRATEGIC SECTION  */
.planning {
    color:#fff;
    background-color: rgb(150, 146, 222);
}
.planning p {
    font-size: 14px;
    line-height: 2;
    font-weight: 200;
}
.planning h2 {
    font-size: 2rem;
}

.box-developer {
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
}
.box-developer h3 {
    color: #000;
}
.box-developer p {
    font-style: oblique;
    font-weight: 300;
    color: #000;
}
.fa-arrow-down-long {
    color: #000;
    background-color: rgb(150, 146, 222);
    padding: 15px 18px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* TESTIMONIAL SECTION  */

.testimonials h2 {
    color: rgb(150, 146, 222);
}
.testimonials p {
    font-size: 1rem;
    line-height: 2;
    font-weight: 200;
}

.testimonial-card {
    background-color: rgb(150, 146, 222);
    border-radius: 40px;
    color: #fff;
}

.testimonial-card img {
    clip-path: circle();
    max-width: 50%;
}

.testimonial-name {
    display: block;
    text-transform: uppercase;
    margin: 20px 0;
}

.fa-quote-left, .fa-quote-right {
    font-size: 1.5rem;
}

/* WORK WITH US SECTION  */

.work-with-us {
    background-color: rgb(150, 146, 222);
    color: #fff;
}

.benefit-card {
    border-radius: 20px;
    background-color:#fff ;
    color: rgb(150, 146, 222);
    text-align: left;
}
.benefit-number {
    font-size: 2.5rem;
    font-weight: 600;
}
.benefit-name {
    margin: 30px 0;
}
.benefit-card p {
    line-height: 2;
    font-size: 0.9rem;
    color: rgb(94,109,125);
}

.more-info-button {
    background-color: rgb(150, 146, 222);
    color:#fff;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px 50px;
    border: none;
    border-radius: 40px;
}

/* ABOUT US SECTION  */

.about-us h2 {
    color: rgb(150, 146, 222);
    font-size: 2rem;
}
.about-us p {
    line-height: 2;
    margin: 40px 0;
}

.about-us img {
    clip-path: circle();
    max-width: 50%;
}

.col-40 p{
    color: rgb(150, 146, 222);
    font-size: 1.5rem;
}

.linkedin-button {
    background-color: rgb(150, 146, 222);
    color:#fff;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
}
.fa-linkedin {
    margin-right: 10px;
}



.footer-content {
    background-color: rgb(48, 48, 48);
    color: white;
    height: 150px;
    padding: 30px;
}






.get-started {
    background-color: rgb(150, 146, 222);
}

/* COLUMN  */
.col-100 {
    width: 100%;
    margin: 10px;
}

/* UTILITIES CLASS */
.text-center {
    text-align: center;
}

.p-2 {
    padding: 20px;
}
.p-3 {
    padding: 30px;
}
.p-4 {
    padding: 40px;
}
.p-x-3 {
    padding: 0 30px;
}
.p-y-2 {
    padding: 20px 0;
}
.p-y-3 {
    padding: 30px 0;
}
.p-y-4 {
    padding: 40px 0;
}
.m-y-2 {
    margin: 20px 0;
}
.mt-2 {
    margin-top: 20px;
}
.mt-4 {
    margin-top: 40px;
}
.container {
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* MEDIA QUERY */

@media screen and (min-width:768px) { 
    .utilities .col-100 {
        width: calc(100% / 3 - 20px)
    }
    .utilities .col-big {
        width: calc(100% / 3 * 2 - 20px)
    }
    .work-with-us .col-100 {
        width: calc(100% / 2 - 20px)
    }
    .about-us .col-60 {
        width: calc(60% - 20px);
    }
    .about-us .col-40 {
        width: calc(40% - 20px);
    }

}

@media screen and (min-width:1200px) {
    .header-content {max-width: 1199px;
        margin: 0 auto;}
    .container {max-width: 1199px;
        margin: 0 auto;}
    .planning .col-100 {
        width: calc(50% - 20px);
    }
    .work-with-us .col-100 {
        width: calc(100% / 3 - 20px)
    }
    .about-us .col-60 {
        width: calc(70% - 20px);
    }
    .about-us .col-40 {
        width: calc(30% - 20px);
    }
    .icon-hamburger{
        display: none;
    }
    .header-menu {
        display: flex;
    }
}